<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4 align-center">
      <h1><strong text-success>Registration Form</strong></h1>
    </div>
  <form #registerform="ngForm" (ngSubmit)="registerUser()">
    <span class="text-danger">{{message}}</span>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" placeholder="Enter Email" id="email" name="email"
          [(ngModel)]="user.emailId" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel">
        <div *ngIf="email.errors && email.invalid && email.touched">
          <small class="text-danger" *ngIf="email.errors.required"> Email is required</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Please provide a valid email address</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="userName">User Name:</label>
        <input type="text" class="form-control" placeholder="Enter User Name" id="username" name="username"
          [(ngModel)]="user.userName" required pattern="[a-zA-Z][a-zA-Z ]+[a-zA-Z]$" #username="ngModel">
        <div *ngIf="username.errors && username.invalid && username.touched">
          <small class="text-danger" *ngIf="username.errors.required"> User name is required</small>
          <small class="text-danger" *ngIf="username.errors.pattern">Only Alphabets and spaces allowed</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password"
          [(ngModel)]="user.password" required minlength="4" #password="ngModel">
        <div *ngIf="password.errors && password.invalid && password.touched">
          <small class="text-danger" *ngIf="password.errors.required"> Password is required</small>
          <small class="text-danger" *ngIf="password.errors.minlength">Password must be at least 4 characters
            long</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="confirmpwd">Confirm Password:</label>
        <input type="password" class="form-control" placeholder="Enter Confirm Password" id="confirmpassword"
          name="confirmpassword" (ngModel)="user.password" required #confirmpassword="ngModel"
          pattern="{{ password.value }}">
        <div *ngIf="confirmpassword.errors && confirmpassword.invalid && confirmpassword.touched">
          <small class="text-danger" *ngIf="confirmpassword.errors.required"> Confirm Password is required</small>
          <small class="text-danger" *ngIf="confirmpassword.errors.pattern"> Password and confirm password must be
            same</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="phoneno">Phone No:</label>
        <input type="phone" class="form-control" placeholder="Enter Phone Numer" id="phoneno" name="phoneno"
          [(ngModel)]="user.phoneNo" required #phoneno="ngModel" pattern="^((\\+91-?)|0)?[0-9]{10}$">
        <div *ngIf="phoneno.errors && phoneno.invalid && phoneno.touched">
          <small class="text-danger" *ngIf="phoneno.errors.required"> phone number is required</small>
          <small class="text-danger" *ngIf="phoneno.errors.pattern"> Please, Enter 10 digit Mobile Number</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="gender">Gender:</label>
        <input type="radio" name="gender" value='Male' [(ngModel)]='user.gender'>Male
        <input type="radio" name='gender' value='Female'[(ngModel)]='user.gender'>Female
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="role">Role:</label>
        <select class="form-control" id="role" [(ngModel)]="user.role" name="role" required>
          <option *ngFor="let item of role" [value]="item.value" [selected]="item.isSelected">{{item.key}}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="guardiantype">Guardian Type:</label>
        <select class="form-control" id="guardiantype" [(ngModel)]="user.guardianType" name="guardiantype" required>
          <option *ngFor="let item of guardianType" [value]="item.value" [selected]="item.isSelected">{{item.key}}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="guardianName">Guardian Name:</label>
        <input type="text" class="form-control" placeholder="Enter Guardian Name" id="guardianName" name="guardianName"
          [(ngModel)]="user.guardianName" required #guardianName="ngModel">
        <div *ngIf="guardianName.errors && guardianName.invalid && guardianName.touched">
          <small class="text-danger" *ngIf="guardianName.errors.required"> Guardian name is required</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="address">Address:</label>
        <textarea class="form-control" placeholder="Enter Address Name" id="address" name="address"
          [(ngModel)]="user.address" required #address="ngModel"></textarea>
        <div *ngIf="address.errors && address.invalid && address.touched">
          <small class="text-danger" *ngIf="address.errors.required"> Address is required</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="citizenship">Citizenship:</label>
        <input type="text" class="form-control" placeholder="Enter citizenship" id="citizenship" name="citizenship"
          [(ngModel)]="user.citizenship" required #citizenship="ngModel">
        <div *ngIf="citizenship.errors && citizenship.invalid && citizenship.touched">
          <small class="text-danger" *ngIf="citizenship.errors.required"> Citizenship is required</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="dob">DOB:</label>
        <input type="date" class="form-control" data-date-format="mm/dd/yyyy" id="dob" name="dob"
        [(ngModel)]="user.dob" required #dob="ngModel" max = "{{maxDate | date:'yyyy-MM-dd'}}">
      <div *ngIf="dob.errors && dob.invalid && dob.touched">
        <small class="text-danger" *ngIf="dob.errors.required"> Date of Birth is required</small>
      </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="rdate">Registration Date:</label>
        <input type="date" class="form-control" data-date-format="mm/dd/yyyy" id="rdate" name="rdate"
        [(ngModel)]="user.regDate" required #rdate="ngModel" max = "{{maxDate | date:'yyyy-MM-dd'}}" min = "{{maxDate | date:'yyyy-MM-dd'}}">
      <div *ngIf="rdate.errors && rdate.invalid && rdate.touched">
        <small class="text-danger" *ngIf="rdate.errors.required"> Registation Date is required</small>
      </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="accounttype">Account Type:</label>
        <select class="form-control" id="accounttype" [(ngModel)]="user.accountType" name="accounttype" required>
          <option *ngFor="let item of accountType" [value]="item.value" [selected]="item.isSelected">{{item.key}}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <label for="citizenship">Branch Name:</label>
        <input type="text" class="form-control" placeholder="Enter Branch Name" id="branchname" name="branchname"
          [(ngModel)]="user.branchName" required #branchname="ngModel">
        <div *ngIf="branchname.errors && branchname.invalid && branchname.touched">
          <small class="text-danger" *ngIf="branchname.errors.required"> Branch name is required</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-4 align-center">
        <button type="submit" [disabled]="registerform.form.invalid" class="btn btn-success">Register</button> |
        <a routerLink="/login" class="btn btn-link">Cancel</a>
      </div>
    </div>
  </form>
</div>